body {
    background-color: #CED4D8;
}

h1 {
    color: #AC6AC7;
}

h2 {
    color: rgb(255,165,0);
}

li {
    color: blue;
}

p {
    background-color: gold;
}

input[type="text"] {
    border: 5px pink dotted;
}
input[type="email"] {
    border: 5px pink dotted;
}

.first {
    background-color: #FFF;
}

#important {
    border: 3px blue dashed;
}

div > p {
    font-size: 30px;
}

input[type="email"] {
    background-color: #808080;
}

a:visited {
    color: silver;
}

#important::first-letter {
    color: lime;
    font-size: 90px;
}

h1:hover {
    background-color: navy;
}

div:nth-of-type(3) p {
    background-color: hotpink;
}